{% extends "encyclopedia/layout.html" %} 
{% block title %} {{ title }} {% endblock %} 

{% block body %}
<h1>Edit Entry</h1>
<form action="{% url 'save_entry' %}" method="POST">
    {% csrf_token %}
  <label>Title:
    <input type="text" class="p-2" placeholder="new title" name="title" value="{{ title }}" />
  </label>  <br />
  
  <label><b>Markdown</b> Content: <br />
    <textarea class="p-2" name="edit_content">{{ entry }}</textarea>
  </label> 
  <br />
  <input type="submit" class="btn btn-info" value="Edit" />
</form>

{% endblock %}
